*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #3aafa9;
    background-size: cover;
}

.logo{
    height: 60;
}

.navbar{
    height: 80px;
    background-color: #17252A;
}

.logo{
    height: 60;
}

.menu{
    float: right;
    margin: 20px;
    color: #17252A;
}

.menu a{
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2b7a78;
    font-size: 17px;
}


header{
    text-align: center;
    color: #17252A;
}

header h1 span{
    font-size: 3rem;
    border: 4px dashed #2b7a78;
    padding: 10px;

}

header h2 {
    font-size: 2.5rem;
}

.langs{
    text-align: center;
    top: 10px;
}

.langs h1 span{
    font-size: 2.7rem;
    border: 4px dashed #2b7a78;
    padding: 10px
}

.langs li{
    margin-bottom: 15px;
    font-weight: bold;
}

.langs progress{
    width: 70%;
    height: 20px;
    color: #2b7a78;
    background: #17252A;
}

.langs progress::-webkit-progress-bar{
    background: #17252A;
}

.langs progress::-webkit-progress-value{
    background: #2b7a78;
}

.langs progress::-moz-progress-bar{
    color: #2b7a78;
    background: #17252A;
}

.links{
    text-align: center;
    top: 10px;
}

.links h1{
    color: #17252A;
    font-size: 2rem;
}

.links li{
    display: inline-block;
    border: 2px solid #2b7a78;
    background-color: #17252A;
    margin: 15px 5px;
}

.links li a{
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 25px;
    color: #def2f1;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
}

.projs{
    text-align: center;
    top: 10px;
}

.projs h1 span{
    border: 4px dashed #2b7a78;
    font-size: 2.5rem;
    padding: 10px;
}

.projs h3{
    color: #17252A;
    font-size: 2.3rem;
}

.projs h3 a{
    color: #def2f1;
    text-decoration: none;
}
.projs h4{
    color: #17252A;
    font-size: 2.1rem;
}
.projs h5{
    color: #17252A;
    font-size: 1.5rem;
}

.projs h5 a{
    color: #def2f1;
    text-decoration: none;
}

.inv{
    text-align: center;
    font-size: 2.5rem;
}

.inv a{
    text-decoration: none;
    color: #3aafa9;
    border: 2px solid #def2f1;
    background-color: #def2f1;
    padding: 10px;
    font-size: 2.4rem;
}

.inv a:hover{
    text-decoration: none;
    color: #3aafa9;
    text-shadow: 2px 2px #17252A;
}

.join{
    text-align: center;
    top: 10px;
}

.join h1{
    color: #17252A;
}

.join h1 span{
    font-size: 2.7rem;
    border: 4px dashed #2b7a78;
    padding: 10px;
}

.join h3{
    color: #17252A;
    font-size: 2.5rem;
}

.join h3 a{
    text-decoration: none;
    color: #2b7a78;
}

.serv{
    top: 10px;
    text-align: center;
}

.serv h1{
    font-size: 2.4rem;
}

.serv h1 span{
    border: 4px dashed #2b7a78;
    font-size: 2.6rem;
    padding: 10px;
}

.serv h3{
    color: #17252A;
    font-size: 2.3rem;
}

.serv h3 a{
    color: #def2f1;
    text-decoration: none;
}

.serv h4{
    color: #17252A;
    font-size: 2.2rem;
}

.serv h4 a{
    color: #2b7a78;
    text-decoration: none;
}


footer{
    text-align: center;
    color: #17252A;
}

footer a{
    color: #2b7a78;
    text-decoration: none;
}